[/]
tools.staticdir.root = os.path.normcase("/home/paul/code/psb/python-simple-blog")
[/js/jquery-1.2.1.js]
tools.staticfile.on = True
tools.staticfile.filename = os.path.normcase("/home/paul/code/psb/python-simple-blog/js/jquery-1.2.1.js")

[/js/functions.js]
tools.staticfile.on = True
tools.staticfile.filename = os.path.normcase("/home/paul/code/psb/python-simple-blog/js/functions.js")

[/theme/main.css]
tools.staticfile.on = True
tools.staticfile.filename = os.path.normcase("/home/paul/code/psb/python-simple-blog/theme/main.css")
