body {
 font: 10px Verdana, sans-serif;
 color: #333;
}

#wrap {
 width: 95%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 1em;
 text-align: left;
}

#header {
 text-align: left;
 margin: 0em 0em 1em 0em;
 padding: 0em 1em 0em 1em;
 width: 100%;
 border-bottom: 1px solid #333;
 height: 3.5em;
}

#header h1 {
 float: left;
 font-weight: normal;
 margin: .65em 0em 0em 0em;
 padding: 0em;
 font-size: 2.0em;
 width: 50%;
}

ul#navigation {
 float: left;
 width: 50%;
 text-align: right;
 list-style-type: none;
 margin: 1.2em 0em 0em 0em;
 padding: 0em;
}

#navigation li {
 font-size: 1.6em;
 line-height: 2.0em;
 vertical-align: baseline;
 display: inline;
 padding: .3em .3em 0em .3em;
 margin: 0em;
}

#navigation li a:hover {
  color: #777;
}

#navigation li a {
  text-decoration: none;
  color: #222;
}

.createnew {
  font-size: 2.0em;
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

#posts {
 float: left;
 width: 70%;
 margin: 0em;
 margin-top: .5em;
 padding: 0em;
}

.post {
 margin: auto;
 margin-bottom: 1em;
 width: 90%;
 font-size: 1.5em;
 border-bottom: 1px dotted #777;
}

.post p {
 line-height: 1.8em;
 margin: .5em 0em 0em 0em;
}

#footer {
 clear: both;
 text-align: right;
 width: 100%;
 margin: 0em;
}

#footer h1 {
 font-size: 1.2em;
 font-weight: normal;
 margin: 3em;
 padding: 0em;
}

#footer h2 {
 font-size: .9em;
 font-weight: normal;
 margin: 1em;
 padding: 0em;
}

a.thesubject {
  border-bottom: none;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0em 0em 0em 0em;
  padding: 0em;
  width: 70%;
}

h3.time {
  font-weight: normal;
  font-size: 1em;
  padding: 0em;
  margin: 0em 0em 0em 0em;
  width: 30%;
}

.copyright {
  font-size: 1.2em;
}

.gist {
  width: 95%;
  margin: auto;
}

#editTextarea {
  margin: auto;
  width: 90%;
}

#images {
  float: left;
  width: 30%;
  margin: 0px;
  margin-top: .5em;
  padding: 0px;
}

#images img {
  width: 95%;
  padding: 5px;
  border: 1px solid #000;
}
